wim-experience-api/src/main/app/wimp-experience-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:spring="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/apikit http://www.mulesoft.org/schema/mule/apikit/current/mule-apikit.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <http:listener-config name="wimp-experience-api-httpListenerConfig" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>
    <apikit:config name="wimp-experience-api-config" raml="wimp-experience-api.raml" consoleEnabled="false" doc:name="Router"/>
    <http:request-config name="workorderHTTP_Request_Configuration" host="workorder-papi-deb.eu.cloudhub.io" port="80" basePath="/api" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="https://anypoint.mulesoft.com/exchange2/api/v1/organizations/ec84d716-a38b-4aee-9cdb-0ea61bdd5858/assets/com.pre-sales.siemens-poc2-0/work-order-process-api/1.0.0/api/root"/>
    </http:request-config>
    <http:request-config name="HTTP_Request_Configuration" host="plm-system-api.eu.cloudhub.io" port="80" basePath="/api" doc:name="HTTP Request Configuration">
        <http:raml-api-configuration location="https://anypoint.mulesoft.com/exchange2/api/v1/organizations/ec84d716-a38b-4aee-9cdb-0ea61bdd5858/assets/com.pre-sales.siemens-poc2-0/plm-system-api/1.0.0/api/root"/>
    </http:request-config>
    <flow name="wimp-experience-api-main">
        <http:listener config-ref="wimp-experience-api-httpListenerConfig" path="/api/*" doc:name="HTTP"/>
        <apikit:router config-ref="wimp-experience-api-config" doc:name="APIkit Router"/>
        <exception-strategy ref="wimp-experience-api-apiKitGlobalExceptionMapping" doc:name="Reference Exception Strategy"/>
    </flow>
    <flow name="wimp-experience-api-console">
        <http:listener config-ref="wimp-experience-api-httpListenerConfig" path="/console/*" doc:name="HTTP"/>
        <apikit:console config-ref="wimp-experience-api-config" doc:name="APIkit Console"/>
    </flow>
    <flow name="get:/part/{order_number}:wimp-experience-api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/part/{order_number}/operation:wimp-experience-api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <flow name="get:/part/{top_material_number}/component:wimp-experience-api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
        <http:request config-ref="HTTP_Request_Configuration" path="/part/{top_material_number}/component" method="GET" doc:name="HTTP"/>
    </flow>
    <flow name="post:/part/{order_number}/location:wimp-experience-api-config">
        <set-payload value="#[NullPayload.getInstance()]" doc:name="Set Payload"/>
    </flow>
    <apikit:mapping-exception-strategy name="wimp-experience-api-apiKitGlobalExceptionMapping">
        <apikit:mapping statusCode="404">
            <apikit:exception value="org.mule.module.apikit.exception.NotFoundException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Resource not found&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="405">
            <apikit:exception value="org.mule.module.apikit.exception.MethodNotAllowedException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Method not allowed&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="415">
            <apikit:exception value="org.mule.module.apikit.exception.UnsupportedMediaTypeException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Unsupported media type&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="406">
            <apikit:exception value="org.mule.module.apikit.exception.NotAcceptableException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Not acceptable&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
        <apikit:mapping statusCode="400">
            <apikit:exception value="org.mule.module.apikit.exception.BadRequestException" />
            <set-property propertyName="Content-Type" value="application/json" doc:name="Property"/>
            <set-payload value="{ &quot;message&quot;: &quot;Bad request&quot; }" doc:name="Set Payload"/>
        </apikit:mapping>
    </apikit:mapping-exception-strategy>
</mule>
